@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:visited{
    color:inherit;
}
a {
text-decoration: none;
}
body{
    line-height:1.5em;
}
/* =WordPress Core -------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*
/////////////////////////////////////////////////////////////////////
Background
/////////////////////////////////////////////////////////////////////
*/
.bg-1{
    background-color: #4a4a4a;
    background-image: url("img/pattern-1.png"); /* fallback */
    background-image: url("img/pattern-1.png"), -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#323232)); /* Saf4+, Chrome */
    background-image: url("img/pattern-1.png"), -webkit-linear-gradient(top, #4a4a4a, #323232); /* Chrome 10+, Saf5.1+ */
    background-image: url("img/pattern-1.png"),    -moz-linear-gradient(top, #4a4a4a, #323232); /* FF3.6+ */
    background-image: url("img/pattern-1.png"),     -ms-linear-gradient(top, #4a4a4a, #323232); /* IE10 */
    background-image: url("img/pattern-1.png"),      -o-linear-gradient(top, #4a4a4a, #323232); /* Opera 11.10+ */
    background-image: url("img/pattern-1.png"),         linear-gradient(top, #4a4a4a, #323232); /* W3C */
}
.bg-2{
    background-color: #d7a79a;
    background-image: url("img/pattern-2.png"); 
}
.bg-3{
    background-color: #de5b54;
    background-image: url("img/pattern-3.png"); /* fallback */
    background-image: url("img/pattern-3.png"), -webkit-gradient(linear, left top, left bottom, from(#de5b54), to(#c8453d)); /* Saf4+, Chrome */
    background-image: url("img/pattern-3.png"), -webkit-linear-gradient(top, #de5b54, #c8453d); /* Chrome 10+, Saf5.1+ */
    background-image: url("img/pattern-3.png"),    -moz-linear-gradient(top, #de5b54, #c8453d); /* FF3.6+ */
    background-image: url("img/pattern-3.png"),     -ms-linear-gradient(top, #de5b54, #c8453d); /* IE10 */
    background-image: url("img/pattern-3.png"),      -o-linear-gradient(top, #de5b54, #c8453d); /* Opera 11.10+ */
    background-image: url("img/pattern-3.png"),         linear-gradient(top, #de5b54, #c8453d); /* W3C */	
}
.bg-4{
	background-color: #D1C5B7;
    background-image: url("img/pattern-4.png"); 
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5),inset 0 2px 0 rgba(255, 255, 255, 0.25);
}
.bg-5{
	background-color: #465460;
    background-image: url("img/pattern-5.png"); /* fallback */
    background-image: url("img/pattern-5.png"), -webkit-gradient(linear, left top, left bottom, from(#465460), to(#212e3a)); /* Saf4+, Chrome */
    background-image: url("img/pattern-5.png"), -webkit-linear-gradient(top, #465460, #212e3a); /* Chrome 10+, Saf5.1+ */
    background-image: url("img/pattern-5.png"),    -moz-linear-gradient(top, #465460, #212e3a); /* FF3.6+ */
    background-image: url("img/pattern-5.png"),     -ms-linear-gradient(top, #465460, #212e3a); /* IE10 */
    background-image: url("img/pattern-5.png"),      -o-linear-gradient(top, #465460, #212e3a); /* Opera 11.10+ */
    background-image: url("img/pattern-5.png"),         linear-gradient(top, #465460, #212e3a); /* W3C */   
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.5),inset 0 2px 0 rgba(255, 255, 255, 0.25);
}
.bg-6{
	background-color: #4c4c4c;
    background-image: url("img/pattern-5.png"); /* fallback */
    background-image: url("img/pattern-5.png"), -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#333333)); /* Saf4+, Chrome */
    background-image: url("img/pattern-5.png"), -webkit-linear-gradient(top, #4c4c4c, #333333); /* Chrome 10+, Saf5.1+ */
    background-image: url("img/pattern-5.png"),    -moz-linear-gradient(top, #4c4c4c, #333333); /* FF3.6+ */
    background-image: url("img/pattern-5.png"),     -ms-linear-gradient(top, #4c4c4c, #333333); /* IE10 */
    background-image: url("img/pattern-5.png"),      -o-linear-gradient(top, #4c4c4c, #333333); /* Opera 11.10+ */
    background-image: url("img/pattern-5.png"),         linear-gradient(top, #4c4c4c, #333333); /* W3C */   
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.7),inset 0 2px 0 rgba(255, 255, 255, 0.1);
}


/*
/////////////////////////////////////////////////////////////////////
Familles Typo
/////////////////////////////////////////////////////////////////////
*/
    .t-1{
        font-family: 'Josefin Slab', serif;
    }
    .t-2{
    	font-family: 'La Belle Aurore', cursive;
    }
    .t-3, .main-content article h2{
    	font-family: 'Arvo', serif;
    }
    .t-4,.footer-menu > ul > li > ul > li > a{
    	font-family: 'Droid Sans', sans-serif;
    }
    .t-5,.rslides_nav{
    	font-family: 'icomoon';
    }
/*
/////////////////////////////////////////////////////////////////////
Couleurs Typo
/////////////////////////////////////////////////////////////////////
*/
    .tc-1,.menu-top a,.tc-1:visited,.rslides_nav{
        color:#fff;
    }
    .tc-2,.tc-2:visited{
        color:#d55852;
    }
    .tc-3,.tc-3:visited{
        color:#375e62;
    }
    .tc-4,.tc-4:visited{
        color:#46545f;
    }
    .tc-5, .main-content article h2,.tc-5:visited{
        color:#baa48b;
    }
    .tc-6,.tc-6:visited,.footer-menu a{
        color:#bababa;
    }
    .tc-7,.footer-sitemap a,.tc-7:visited{
        color:#6f6e6e;
    }
    .tc-8,.tc-8:visited{
        color:#b4b4b4;
    }
    .tc-9,.tc-8:visited{
        color:#dadada;
    }
/*
/////////////////////////////////////////////////////////////////////
HOVER par couleur
/////////////////////////////////////////////////////////////////////
*/
    a:hover.tc-1, .tc-1 a:hover{
        color:#D55852;
    }
    a:hover.tc-2, .tc-2 a:hover{
        color:#fff;
    }
    a:hover.tc-3, .tc-3 a:hover{
        color:#375e62;
    }
    a:hover.tc-4, .tc-4 a:hover{
        color:#46545f;
    }
    a:hover.tc-5, .tc-5 a:hover{
        color:#baa48b;
    }
    a:hover.tc-6, .tc-6 a:hover{
        color:#fff;
    }
    a:hover.tc-7, .tc-7 a:hover{
        color:#fff;
    }
    a:hover.tc-8, .tc-8 a:hover{
        color:#b4b4b4;
    }
    a:hover.tc-9, .tc-9 a:hover{
        color:#fff;
    }
/*
/////////////////////////////////////////////////////////////////////
Text Shadow
/////////////////////////////////////////////////////////////////////
*/
.tsha-1, .main-content article h2{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.tsha-1 a:hover,a..tsha-1:hover {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.tsha-2 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}
.tsha-3{
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}


/*
/////////////////////////////////////////////////////////////////////
Taille Typo
/////////////////////////////////////////////////////////////////////
*/
    .ts-1{
        font-size:2.125em;
    }
    .ts-2{
        font-size:1.875em;
    }
    .ts-3{
        font-size:1.625em;
    }
    .ts-4{
        font-size:1.5em;        
    }
    .ts-5{
        font-size:1.375em;        
    }
    .ts-6, .main-content article h2{
        font-size:1.125em;
    }
    .ts-7, .main-content article h3{
        font-size:1em;
    }
    .ts-8{
        font-size:0.875em;
    }
    .ts-9{
        font-size:0.75em;
    }
    .ts-10{
        font-size:0.625em;
    }

/*
/////////////////////////////////////////////////////////////////////
Largeur de base
/////////////////////////////////////////////////////////////////////
*/
    .inner{
        width:940px;
        margin:0 auto;
        position:relative;
    }
    .inner:after{
        content:"";
        display:block;
        clear:both;
    }

/*
/////////////////////////////////////////////////////////////////////
Template style
/////////////////////////////////////////////////////////////////////
*/

/*
/////////////////////// HEADER ////////////////////////
*/

.lang {
    position: absolute;
    top: 0;
    right: 0;
}

.logo {
    display: block;
    width: 270px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1em;
}
a.logo:hover{
    color:#fff;
}
.logo-img {
    margin-bottom: -1.2em;
}
.logo-baseline {
    margin-top: 0.8em;
}
.menu-top > ul > li {
    display: inline-block;
    width: 13.5%;
    text-align: center;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    word-spacing: normal;
}
.menu-top {
    word-spacing: -0.3em;
}
.homelink {
    font-size: 2em;
    display: inline-block;
    margin-bottom: -0.1em;
}

.lang {
    position: absolute;
    top: -120px;
    right: 0;
    width: 45px;
    height: 172px;
    background: url("img/flags-ribbon.png") no-repeat;
    text-align: center;   
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;

}
.lang:hover{
    top:0;
}
.lang ul {
    margin-top: 5px;
}
.lg-active {
    position: absolute;
    bottom: 22px;
    text-align: center;
    width: 100%;
}

/*
/////////////////////// SLIDESHOW ////////////////////////
*/
.slideshow-content {
    position: relative;
}
.slideshow-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 66%;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2),0 1px 0 rgba(255, 255, 255, 0.3);
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.rslides1_nav {
    width: 54px;
    height: 60px;
    background: url("img/slider-nav.png");
    line-height: 60px;
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    z-index: 2;
}
.rslides1_nav.prev {   
    left: -28px;   
}
.rslides1_nav.next {
    right: -28px;
}
.slideshow-wrapper {
    padding-top: 3em;
}

.slideshow-wrapper:before {
    position: absolute;
    display: block;
    width: 120%;
    height: 1px;
    content: '';
    bottom: 0px;
    left:-10%;  
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 20%, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 80%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0.5)), color-stop(50%,rgba(0,0,0,0.5)), color-stop(80%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.5) 20%,rgba(0, 0, 0, 0.5) 50%,rgba(0, 0, 0, 0.5) 80%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 20%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0.5) 80%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */

}
.slideshow-wrapper:after {
   position: absolute;
    display: block;
    width: 120%;
    height: 1px;
    content: '';
    bottom: -1px;
    left:-10%;  
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 20%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 80%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.5)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(80%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255, 0.5) 20%,rgba(255,255,255, 0.5) 50%,rgba(255,255,255, 0.5) 80%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 20%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 20%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 20%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0.5) 80%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

/*
/////////////////////// PREVIEW HOME ////////////////////////
*/
.previews.inner:before {
    content: "";
    display: block;
    width: 40%;
    height: 80px;
    background: url("img/bracket-top.png") no-repeat center;
    margin: 0 auto 1em auto;
    background-size: 100%;
}
.previews.inner:after {
    content: "";
    display: block;
    width: 40%;
    height: 100px;
    background: url("img/bracket-bot.png") no-repeat center;
    margin: 0 auto;
    background-size: 100%;
}
.item-previews {
    width: 25%;
    display: block;
    float: left;
    text-align:center;
}

.item-previews-hexa {
    width: 200px;
    height: 230px;
    position: relative;
    display: inline-block;
    z-index:2;
}
.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
}
.hexagon2 {
    position: absolute;
    width: 200px;
    height: 400px;
    top: -85px;
}

.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;

    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.hexagon-in2 { 
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;

    -webkit-background-size: 125%;
    -moz-background-size: 125%;
    background-size: 125%;
    visibility: visible;

    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hexagon-in2:hover:after {
    position: absolute;
    content: "[+]";
    background: rgba(222, 91, 84, 0.4);
    height: 100%;
    width: 100%;
    left: 0;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.22);
    text-align: center;
    line-height: 12.5em;
    font-size: 2em;
}
.item-preview-text {
    padding: 0.5em;
}
.item-preview-text:before {
    content: "t";
    display: block;
    font-family: Icomoon;
    color: #d55852;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.39);
    font-size: 3em;
    padding: 0.2em;
    text-align: center;
}
.hex-wrapper {
    position: relative;
    width: auto;
    display: inline-block;
}

/*.hex-border {
    width: 95%;
    height: 135px;
    position: absolute;
    top: 48px;
    left: 2.5%;
    background: rgba(0, 0, 0, 0.05);
}
.hex-border:before {
    top: -65px;
    position: absolute;
    content: "";
    left: 0;
    border-left: 112px solid transparent;
    border-bottom: 65px solid rgba(0, 0, 0, 0.05);
    border-right: 112px solid transparent;
}
.hex-border:after {
    bottom: -65px;
    position: absolute;
    content: "";
    left: 0;
    border-left: 112px solid transparent;
    border-top: 65px solid rgba(0, 0, 0, 0.05);
    border-right: 112px solid transparent;
}*/

.hex-border {
    width: 110%;
    height: 110%;
    position: absolute;
    top: -5%;
    left: -5%;
    background: url("img/hexborder.png") no-repeat;
}
/*
/////////////////////// RESA LINK ////////////////////////
*/
.resa {
    padding-top: 1.8em;
}
.home-resa:after {
    padding-top: 1em;
    content: "";
    display: block;
    width: 40%;
    height: 80px;
    background: url("img/bracket-top.png") no-repeat center;
    margin: 0 auto;
    background-size: 100%;
}

.link-resa {
    width: 25%;
    display: block;
    float: left;
    text-align: center;
    height: 2em;
    line-height: 2.3em;
    background: rgb(74,88,101);
    background: -moz-linear-gradient(top, rgba(74,88,101,1) 0%, rgba(33,48,61,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(74,88,101,1)), color-stop(100%,rgba(33,48,61,1)));
    background: -webkit-linear-gradient(top, rgba(74,88,101,1) 0%,rgba(33,48,61,1) 100%);
    background: -o-linear-gradient(top, rgba(74,88,101,1) 0%,rgba(33,48,61,1) 100%);
    background: -ms-linear-gradient(top, rgba(74,88,101,1) 0%,rgba(33,48,61,1) 100%);
    background: linear-gradient(to bottom, rgba(74,88,101,1) 0%,rgba(33,48,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a5865', endColorstr='#21303d',GradientType=0 );
    border-radius: 5px;
    box-shadow: 0 5px 0 #131e28, inset 0 -1px 2px rgba(255, 255, 255, 0.09);
    margin-bottom:4px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.link-resa:hover{
    margin-bottom:0px;
    margin-top:4px;
    box-shadow: 0 2px 0 #131e28, inset 0 -1px 2px rgba(255, 255, 255, 0.09);
}
.sent-resa {
    width: 75%;
    float: left;
    padding-bottom: 1em;
    font-weight: bold;
    line-height: 1.1em;
}
/*
/////////////////////// CONTENT ////////////////////////
*/
.main-content-center {
    padding-top: 3em;
    padding-bottom: 3em;
}
.main-content {
    float: left;
    width: 75%;
    padding-right: 1em;
    box-sizing: border-box;
}
.sidebar {
    width: 25%;
    float: left;
}
.main-content p {
    margin-bottom: 0.75em;
    margin-left:1em;
}
.main-content h1 {
    margin-bottom: 0.75em;
}
.main-content h2 {
    margin-bottom: 0.5em;
    margin-left:0.5em;
}
.main-content h3 {
    margin-bottom: 0.25em;
    margin-left:1em;
}

/*
/////////////////////// CONTENT HEBERGEMENTS ////////////////////////
*/
    .hebs {
         margin-left: 1em;
         padding-top:1em;
         word-spacing: -0.3em;
        text-align: center;
    }
    .heb {
        width: 30%;
        text-align: center;
        display: inline-block;   
        border: 5px dashed rgba(0, 0, 0, 0.1);     
         -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        margin-right: 1%;
        margin-bottom: 1em;
    }
    .heb:hover{
         border: 5px dashed rgba(255, 255, 255, 0.1);
    }
    .heb-thumb {
        width: 100%;
        margin-bottom: 1em;
        display: inline-block;
         -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .heb-thumb img {
        width: 100%;
          box-shadow: 0 0px 13px 4px rgba(0, 0, 0, 0.23), 0 -1px 0 rgba(255, 255, 255, 0.34), 0 -2px 0 rgba(0, 0, 0, 0.21);
        display: block;
        border-radius: 3px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    .heb:hover img{
        box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.2), 0 -1px 0 rgba(255, 255, 255, 0.34), 0 -2px 0 rgba(0, 0, 0, 0.21);
    }
    .heb:hover .heb-thumb{
        margin-top:0.5em;
        width:95%;
    } 
/*
/////////////////////// SIDEBAR ////////////////////////
*/
.sidebar h2 {
    margin-bottom: 0.5em;
}
.facebook-box {
    margin-bottom: 1em;
}

#fb-root {
  display: none;
}

.item-news {
    line-height: 1.5em;
    margin-bottom: 1em;
}

/* To fill the container and nothing else */

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
.fb-like-box.fb_iframe_widget {
    background-color: #d6c8b8;
    background-image: url("img/pattern-4.png");
}

/*
/////////////////////// FOOTER ////////////////////////
*/
.footer {
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer-menu-wrapper {
    width: 25%;
    float: left;
    height: 100%;
}
.footer-infos {
    width: 75%;
    float: left;
}
.footer-sitemap {
    width: 75%;
    float: right;
    margin-bottom: 1em;
}
.copyright {
    clear: both;
    float: right;
    width: 75%;
}
.footer-camp-baseline {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.stars{
    font-size: 0.4em;
}
.footer-camp-address {
    font-style: normal;
}
.footer-addthis {
    padding-top: 1em;
    padding-bottom: 1em;
}
.addthis_toolbox_footer.addthis_default_style a {
    width: 41px;
    height: 41px;
    display: inline-block;
    background-image: url(img/addthis.png);
}
.addthis_button_twitter {
    background-position: top right;
}
.addthis_button_twitter:hover{
     background-position: bottom right;
}
.addthis_button_facebook {
    background-position: center top;
}
.addthis_button_facebook:hover {
    background-position: center bottom;
}
.addthis_button_google_plusone_share {
     background-position: top left;
    margin-left: 1em;
    margin-right: 1em;
}
.addthis_button_google_plusone_share:hover {
     background-position: bottom left;
     }
.footer-sitemap li {
    display: inline-block;
    border-left: 1px solid #6f6e6e;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1em;
}
.footer-sitemap .first {
    padding-left: 0;
    border: none;
}
.footer-menu > ul > li:before {
    content: "e";
    font-family: "Icomoon";
    margin-right: 0.5em;
    font-size: 0.8em;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.38);
}
.footer-menu > ul > li > ul {
    margin-left:1.5em;
    font-size: 0.9em;
}

.footer-menu > ul > li > ul > li:before {
     content: "r";
    font-family: "Icomoon";
    margin-right: 0.5em;
    font-size: 0.8em;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.38);
}
.footer-menu-wrapper h2 {
    margin-bottom: 1em;
}
/*
/////////////////////////////////////////////////////////////////////
Media queries
/////////////////////////////////////////////////////////////////////
*/


@media (max-width: 940px) {
    .inner {
         width:100%;
         overflow:hidden;
         padding-left: 0.5em;
        padding-right: 0.5em;
        box-sizing: border-box;
    }     
    .slideshow-wrapper.inner {
        padding: 0;
    }
    .slideshow-wrapper {
          padding-top: 0;
    }
    .item-previews {
        width: 50%;
        margin-bottom: 1em;
    }
}
@media (max-width: 850px) {
    .footer-menu-wrapper{
        width:100%;
        text-align:center;
        margin-bottom: 2em;
    }
    .footer-menu > ul > li:before,.footer-menu > ul > li > ul > li:before{
        content:none;
    }
    .footer-menu > ul > li > ul {
        margin-left: 0;
        box-shadow: inset 0 7px 5px -5px rgba(0, 0, 0, 0.28),inset 0 -2px 5px -5px rgba(0, 0, 0, 0.28);
        background: rgba(0, 0, 0, 0.13);
    }
    .footer-menu {
        margin-left: -0.5em;
        margin-right: -0.5em;
    }
    .footer-infos,.footer-sitemap,.copyright {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .menu-top > ul > li {
        width: 25%;
    }
}
@media (max-width: 650px) {
        .main-content {
            width:100%;
        }
        .sidebar {
            width: 100%;
            clear: left;
        }
    }
@media (max-width: 550px) {
    .sent-resa {
        width: 100%;
    }
        .link-resa {
            clear: left;
            width: 100%;
        }
    }

@media (max-width: 450px) {
    .menu-top > ul > li {
        width: 100%;
    }
    .item-previews {
        width: 100%;
    }
}
